{% include 'header.html' %}

<figure class="white">
  <a href="#">
    <img src="img/font-1.jpg" alt="" />
    <dl>
      <dt>Free font</dt>
      <dd>Bavro is a minimal free font best suitable for posters and headlines. Designed and released by Marcelo Melo.</dd>
    </dl>
  </a>  
  <div id="wrapper-part-info">
    <div class="part-info-image">
      <img src="img/icon-font.svg" alt="" width="28" height="28"/>
    </div>
    <div id="part-info">Free font</div>
  </div>
</figure>

{% include 'footer.html' %}