        </section>    
      </div>          
    </div>

    <div id="wrapper-copyright">
      <div class="copyright">
        <div class="copy-text object">Copyright © 2016. Template by <a style="color:#D0D1D4;" href="https://dcrazed.com/">Dcrazed</a></div>
      </div>
    </div>

  </div>
  <!-- SCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
  <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
  <script type="text/javascript" src="js/fastclick.min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-shadow-min.js"></script>    
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>